@use "./scss-utils/index"as *;
@use "./scss-utils/compat-legacy";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--white);
  }

  &::-webkit-scrollbar-thumb {
    background: var(--blue-grey);
    border-radius: 10px;
  }

  &.no-scroll {
    overflow: hidden;
  }
}

body {
  color: var(--black);
  background-color: var(--white);
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 135%;
}

body button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 135%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 110%;
  font-family: "Aleo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  transition: all 0.3s ease;
}

h2 {
  @include adaptive-value("font-size", 48, 32, 1);
  font-weight: 600;
  color: var(--blue-grey);
}

h3 {
  @include adaptive-value("font-size", 24, 18, 1);
  font-weight: 600;
  color: var(--blue-grey);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1332px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#main {
  flex-grow: 1;
}