.stats_preview {
    @include adaptive-value("padding-top", 80, 40, 1);
    @include adaptive-value("padding-bottom", 80, 40, 1);

    &_inner {
        display: flex;
        flex-direction: column;
        gap: 32px;
    }

    &_header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 32px;

        @include media-down(md) {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
    }

    &_profile {
        display: flex;
        align-items: center;
        gap: 16px;

        &_info {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &_name {
            @include adaptive-value("font-size", 32, 20, 1);
            font-weight: 600;
            color: var(--blue-grey);
        }

        &_link_text {
            color: var(--blue-dark-2);
            font-weight: 500;
            text-decoration: underline;
            transition: color .3s ease;

            &:hover {
                color: var(--gold);
                transition: color .3s ease;
            }
        }
    }

    &_rank {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;


        @include media-down(md) {
            align-items: flex-start;
            gap: 16px;
        }

        &_label {
            font-weight: 500;
            color: var(--white);
            background-color: var(--blue-grey);
            padding: 10px 16px;
            border-radius: 8px;
        }

        &_body {
            display: flex;
            align-items: flex-start;
            gap: 24px;
            background: linear-gradient(90deg, #00284B 0%, #00284B 1%, #2A5298 100%);
            padding: 20px 24px;
            border-radius: 8px;
            width: 310px;
            color: var(--white);

            &_icon {
                width: 36px;
                height: 36px;
            }
        }

        &_text {
            display: flex;
            flex-direction: column;
            gap: 4px;


            &_value {
                display: flex;
                gap: 4px;
            }
        }

        &_score {
            margin-left: auto;
        }

        span {
            font-weight: 500;
        }

    }

    &_avatar {
        @include adaptive-value("width", 124, 80, 1);
        @include adaptive-value("height", 124, 80, 1);
        border-radius: 50%;
        overflow: hidden;

        &_img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &_content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        @include media-down(lg) {
            grid-template-columns: repeat(2, 1fr);
        }

        @include media-down(sm) {
            grid-template-columns: 1fr;
        }


        &_item {
            border-radius: 8px;
            @include adaptive-value("padding", 24, 16, 1);
            background-color: var(--black-5);

            &_header {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-bottom: 4px;

                span {
                    color: var(--gold);
                }
            }

            &_icon {
                width: 22px;
                height: 22px;
                color: var(--gold);
            }

            &_body {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 10px;
            }

            &_body_rank {
                display: flex;
                align-items: center;
                gap: 4px;
            }

            &_body_rank_label {
                font-size: 18px;
                font-weight: 500;
            }

            &_body_rank_value {
                font-size: 18px;
                font-weight: 500;
            }

            &_body_label {
                span {
                    font-size: 18px;
                    font-weight: 500;
                }
            }

            &_body_value {
                @include adaptive-value("font-size", 24, 20, 1);
                font-weight: 500;
                font-family: "Aleo", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            }
        }
    }

}