.rankings {
    padding: 40px 0;

    &_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 12px;

        @include media-down(md) {
            flex-direction: column;
            align-items: flex-start;
            gap: 12px;
        }

        &_search {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 12px 20px;
            border-radius: 120px;
            border: 1px solid var(--blue-dark);
            max-width: 420px;
            width: 100%;
            transition: border-color .3s ease;

            @include media-down(md) {
                max-width: 100%;
            }

            &:focus-within {
                border-color: var(--blue-grey);
                transition: border-color .3s ease;
            }

            input {
                width: 100%;
                border: none;
                outline: none;
                background: transparent;
                font-size: 16px;
                font-weight: 500;
                color: var(--black);
            }

            &_button {
                width: 24px;
                height: 24px;

                &:hover {

                    .rankings_head_search_button_icon {
                        color: var(--gold);
                        transition: color .3s ease;
                    }
                }

                &_icon {
                    width: 100%;
                    height: 100%;
                    color: var(--black-70);
                    transition: color .3s ease;
                }
            }
        }

        &_title {
            @include media-down(sm) {
                text-align: center;
            }
        }
    }

    &_description {
        margin-bottom: 30px;
        @include adaptive-value("font-size", 18, 16, 1);

        @include media-down(sm) {
            margin-bottom: 16px;
            text-align: center;
        }
    }

    &_filters {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
        margin-bottom: 20px;

        &_dropdowns {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 12px;
        }

        &_dropdown {
            width: 220px;

            @include media-down(sm) {
                width: 100%;
            }
        }

        &_switcher {
            max-width: 380px;
            width: 100%;
            margin: 0 !important;
        }
    }

    &_list {
        margin-bottom: 20px !important;
    }

    &_footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}