@use "@/app/styles/scss-utils/compat-legacy" as *;

.tournaments {
    padding: 30px 0;

    &_title {
        @include adaptive-value("font-size", 32, 24, 1);
        margin-bottom: 20px;
    }

    &_button {
        margin: 30px auto 0 auto;
    }
}