@use "@/app/styles/scss-utils/index" as *;

.hero {
    background: linear-gradient(90deg, #00284B 0%, #00284B 1%, #2A5298 100%);
    position: relative;
    @include adaptive-value("padding-top", 100, 50, 1);
    @include adaptive-value("padding-bottom", 100, 50, 1);
    overflow: hidden;
    height: 655px;

    @include media-down(md) {
        height: 500px;
    }

    &_background {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &_crown {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        z-index: 1;
    }

    &_content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 600px;
        width: 100%;
    }

    &_title {
        @include adaptive-value("font-size", 56, 32, 1);
        color: var(--white);
        line-height: 115%;
        font-weight: 700;
        text-transform: uppercase;
    }

    &_description {
        max-width: 390px;
        width: 100%;
        @include adaptive-value("font-size", 22, 18, 1);
        color: var(--white);
        font-weight: 500;
        line-height: 135%;
    }
}