.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    font-size: 14px;
}

.pagination_control {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--blue-grey);
    color: var(--blue-grey);
    cursor: pointer;
    transition: color 0.2s ease;

    &:hover:not(.disabled) {
        background-color: var(--blue-grey);
        color: var(--white);
    }

    &_icon_next {
        margin-left: 2px;
    }

    &_icon_prev {
        margin-right: 2px;
    }
}

.pagination_pages {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pagination_page {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--blue-grey);
    background-color: var(--blue-light);
    cursor: pointer;
    transition: color 0.2s ease, background-color 0.2s ease;
    font-size: 14px;

    &:hover:not(.active) {
        background-color: var(--blue-grey);
        color: var(--white);
        transition: color 0.2s ease, background-color 0.2s ease;
    }

    &.active {
        background-color: var(--blue-grey);
        color: var(--white);
    }
}

.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}