.footer {
    background-color: var(--black);
    @include adaptive-value("padding-top", 80, 40, 1);
    @include adaptive-value("padding-bottom", 60, 40, 1);
    position: relative;
    overflow: hidden;

    &_logo_bg {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }

    &_content {
        position: relative;
        z-index: 1;
    }

    &_content_top {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 40px;

        margin-bottom: 50px;

        @include media-down(lg) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }
    }

    &_content_left {

        @include media-down(lg) {
            text-align: center;
        }

        &_logo {
            margin-bottom: 24px;
        }

        &_text {
            font-size: 16px;
            color: var(--gray);
            max-width: 325px;
            width: 100%;
            margin-bottom: 12px;
        }

        &_email {
            font-weight: 500;
            font-size: 18px;
            color: var(--gold);
            transition: color 0.3s ease;

            &:hover {
                color: var(--gold-light);
                transition: color 0.3s ease;
            }
        }
    }

    &_content_right {

        &_menu_list {
            display: flex;
            align-items: center;
            gap: 40px;
            list-style: none;
            padding: 0;
            margin: 0;

            @include media-down(lg) {
                gap: 20px;
                justify-content: center;
            }
        }

        &_menu_link {
            color: var(--white);

            &:hover {
                color: var(--gold);
                transition: color 0.3s ease;
            }
        }

        &_subscribe {
            @include adaptive-value("margin-top", 60, 40, 1);
            width: 420px;

            @include media-down(lg) {
                width: 100%;
                text-align: center;
            }

            &_title {
                display: inline-block;
                font-size: 16px;
                margin-bottom: 12px;
            }

            &_form {
                display: flex;
                align-items: stretch;
                gap: 8px;
                background-color: var(--black-80);
                padding: 4px 4px 4px 20px;
                border-radius: 8px;
                border: 1px solid transparent;

                &.error {
                    border: 1px solid var(--red);
                }

                input {
                    width: 100%;
                    min-height: 100%;
                    background: transparent;
                    border: none;
                    outline: none;
                    font-size: 16px;
                    color: var(--white);
                    padding: 0;

                    &::placeholder {
                        color: var(--black-20);
                    }
                }

                button {
                    background-color: var(--black-95);
                    padding: 12px 20px;
                    border-radius: 4px;
                    font-size: 16px;
                    font-weight: 500;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    transition: background-color 0.3s ease;

                    &:hover {
                        background-color: var(--gold);
                        transition: background-color 0.3s ease;
                    }
                }
            }

            &_error {
                margin-top: 8px;
                font-size: 12px;
                color: var(--red);
            }
        }
    }

    &_content_bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;

        @include media-down(md) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
        }

        &_social {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;

            &_item {
                transition: transform 0.3s ease;

                &:hover {
                    transform: scale(1.1);
                    transition: transform 0.3s ease;
                }
            }
        }

        &_text {
            font-size: 16px;
            color: var(--gray);

            @include media-down(sm) {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                justify-content: center;
                gap: 10px;
            }
        }
    }
}