@use "@/app/styles/scss-utils/compat-legacy" as *;

.search_input {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    border-radius: 120px;
    border: 1px solid var(--blue-dark);
    max-width: 420px;
    width: 100%;
    transition: border-color 0.3s ease;

    @include media-down(md) {
        max-width: 100%;
        padding: 8px 15px;
    }

    &:focus-within {
        border-color: var(--blue-grey);
        transition: border-color 0.3s ease;
    }

    input {
        width: 100%;
        border: none;
        outline: none;
        background: transparent;
        font-size: 16px;
        font-weight: 500;
        color: var(--black);
    }

    &_button {
        width: 24px;
        height: 24px;
        flex-shrink: 0;

        @include media-down(md) {
            width: 20px;
            height: 20px;
        }

        &:hover {
            .search_input_button_icon {
                color: var(--gold);
                transition: color 0.3s ease;
            }
        }

        &_icon {
            width: 100%;
            height: 100%;
            color: var(--black-70);
            transition: color 0.3s ease;
        }
    }
}