.club_card {
    border-radius: 12px;
    border: 1px solid var(--black-20);
    @include adaptive-value("padding", 24, 16, 1);

    &_image {
        width: 100%;
        height: 160px;
        overflow: hidden;
        border-radius: 8px;
        margin-bottom: 20px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_locked {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--black-20);
            position: relative;

            &_icon_wrapper {
                position: absolute;
                top: 10px;
                right: 10px;
                width: 32px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--white);
                border-radius: 4px;
            }

            &_icon {
                width: 24px;
                height: 24px;
                color: var(--blue-grey);
            }

            &_text {
                font-weight: 500;
                font-size: 14px;
            }
        }
    }

    &_title {
        color: var(--black);
        margin-bottom: 8px;
    }

    &_description {
        color: var(--black);
        @include adaptive-value("font-size", 18, 16, 1);
        margin-bottom: 20px;
    }

    &_info {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-bottom: 20px;

        &_members {
            display: flex;
            align-items: center;
            gap: 8px;

            &_icon {
                width: 24px;
                height: 24px;
                color: var(--black-70);
            }

            &_value {
                color: var(--black-70);
                @include adaptive-value("font-size", 18, 16, 1);
            }
        }

        &_location {
            display: flex;
            align-items: center;
            gap: 8px;

            &_icon {
                width: 18px;
                height: 18px;
            }

            &_value {
                color: var(--black-70);
                @include adaptive-value("font-size", 18, 16, 1);
            }
        }
    }

    &_labels {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 6px;
        margin-bottom: 20px;
    }

    &_label {
        padding: 7px 12px;
        border-radius: 4px;
        border: 1px solid var(--black-10);
        @include adaptive-value("font-size", 14, 12, 1);

        &:nth-child(3),
        &:nth-child(4) {
            background-color: var(--black-5);
        }
    }

    &_buttons {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    &_button {
        width: 50%;

        &_disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}