.switcher_module {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 4px;
    background-color: var(--blue);
    width: max-content;
    margin: 0 auto;
    margin-bottom: 24px;
}

.switcher_module_button {
    @include adaptive-value("font-size", 18, 16, 1);
    color: var(--black);
    padding: 8px 30px;
    border-radius: 108px;
    transition: all 0.3s ease;

    &.active {
        background-color: var(--blue-grey);
        color: var(--white);
        transition: all 0.3s ease;
    }
}