@use "@/app/styles/scss-utils/compat-legacy" as *;

.profile_details_content {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border: 1px solid var(--black-20);
    border-radius: 12px;
    @include adaptive-value("padding", 32, 16, 1);
    min-height: 400px;
    height: 100%;

    @include media-down(lg) {
        flex-direction: column;
    }
}

.profile_details_left {
    max-width: max-content;
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-down(sm) {
        max-width: 100%;
    }

    &_profile {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 30px;

        @include media-down(sm) {
            flex-direction: column;
            align-items: center;
            text-align: center
        }

        &_image {
            @include adaptive-value("width", 164, 100, 1);
            @include adaptive-value("height", 164, 100, 1);
            border-radius: 50%;
        }

        &_info {
            display: flex;
            flex-direction: column;
            gap: 4px;
        }

        &_name {
            font-weight: 600;
            @include adaptive-value("font-size", 24, 18, 1);
            color: var(--blue-grey);
        }

        &_role {
            font-weight: 500;
            color: var(--white);
            padding: 10px 16px;
            border-radius: 8px;
            background-color: var(--blue-grey);
        }
    }

    &_buttons {
        display: flex;
        align-items: center;
        gap: 10px;

        @include media-down(sm) {
            flex-direction: column;
        }
    }

    &_button {
        width: 100%;
    }
}

.profile_details_right {
    max-width: 720px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    &_header {
        display: flex;
        flex-direction: column;
        gap: 4px;

        &_email {
            display: flex;
            align-items: flex-start;
            gap: 8px;

            b {
                font-weight: 500;
            }

            span {
                word-break: break-word;
            }
        }

        &_link {
            font-weight: 500;
            text-decoration: underline;

            &:hover {
                color: var(--gold);
                transition: color .3s ease;
            }
        }
    }

    &_info {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        @include media-down(sm) {
            flex-direction: column;
        }

        &_item {
            width: 48%;
            display: flex;
            flex-direction: column;
            gap: 4px;

            @include media-down(sm) {
                width: 100%;
            }

            &_label {
                font-size: 16px;
                color: var(--blue-dark-2);
            }

            &_value {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}