.plans {
    padding: 40px 0 80px 0;

    &_title {
        max-width: 1005px;
        width: 100%;
        margin: 0 auto 20px auto;
        text-align: center;
    }

    &_list {
        padding: 0;
    }
}