.notification {
    position: relative;

    &_button {
        display: flex;
        align-items: center;
        gap: 8px;

        &_icon {
            color: var(--blue-grey);
            width: 24px;
            height: 24px;
        }

        &_count {
            color: var(--white);
            font-weight: 600;
            font-size: 12px;
            line-height: 125%;
            border-radius: 9999px;
            background-color: var(--blue-grey);
            padding: 4.5px 10px;
        }
    }

    &_dropdown {
        position: absolute;
        top: calc(100% + 12px);
        right: 0;
        width: max-content;
        min-width: 280px;
        background: var(--white);
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 1000;

        display: flex;
        flex-direction: column;
        opacity: 0;
        transform: translateY(-10px);
        animation: notificationDropdownIn 0.25s ease forwards;
        pointer-events: auto;

        &_closing {
            animation: notificationDropdownOut 0.25s ease forwards;
        }

        &_header {
            padding: 12px;
            border-bottom: 1px solid var(--black-10);

            span {
                font-size: 14px;
            }
        }

        &_buttons {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 12px;
            border-bottom: 1px solid var(--black-10);
        }

        &_button {
            padding: 4px 7.5px;
            border-radius: 4px;
            font-size: 14px;
            transition: background-color .3s ease;

            &:hover {
                background-color: var(--black-5);
                transition: background-color .3s ease;
            }

            &_unread {
                margin-left: auto;
                font-weight: 500;
                transition: color .3s ease;

                &:hover {
                    color: var(--gold);
                    transition: color .3s ease;
                }
            }
        }

        &_content {
            display: flex;
            flex-direction: column;

            &_item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 4px;
                padding: 12px;

            }

            &_text {
                width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
                line-height: 125%;
                text-align: start;
            }

            &_date {
                display: flex;
                align-items: center;
                gap: 2px;
                font-size: 14px;
                line-height: 125%;
            }

            &_marker {
                width: 8px;
                height: 8px;
                border-radius: 50%;
                background-color: var(--blue-dark);
            }
        }
    }
}

@keyframes notificationDropdownIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes notificationDropdownOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}