.home_new_visitor {
    background: linear-gradient(90deg, #00284B 0%, #00284B 1%, #2A5298 100%);
    position: relative;
    overflow: hidden;
    padding: 40px 0;

    &_logo {
        position: absolute;
        bottom: -11px;
        right: 0;
        object-fit: contain;
        aspect-ratio: 1/1;
    }

    &_container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
    }

    &_steps {
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 100px;
        background-color: var(--blue-dark);
        padding: 8px 30px;
        margin-bottom: 30px;

        span {
            @include adaptive-value("font-size", 18, 16, 1);
            color: var(--blue-grey);
        }

        &_number {
            margin-top: 1px;
        }
    }

    &_title {
        @include adaptive-value("font-size", 48, 24, 1);
        font-weight: 600;
        margin-bottom: 10px;
    }

    &_description {
        @include adaptive-value("font-size", 18, 16, 1);
        margin-bottom: 24px;
    }


    &_continue_button {
        max-width: 320px;
        width: 100%;
        margin-bottom: 12px;
    }

    &_sign_in_link {
        text-decoration: underline;
        transition: color 0.3s ease;

        &:hover {
            color: var(--gold);
            transition: color 0.3s ease;
        }
    }

    &_form {
        max-width: 320px;
        width: 100%;
    }

    &_skip_link {
        text-decoration: underline;
    }
}