.popup_backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: backdropFadeIn 0.3s ease forwards;
}

.popup_container {
    position: relative;
    z-index: 1001;
    animation: popupScaleIn 0.3s ease forwards;

    background-color: var(--white);
    border: 1px solid var(--black-10);
    border-radius: 12px;
    max-width: 520px;
    width: calc(100% - 40px);
    max-height: calc(100dvh - 40px);
    overflow-y: auto;
    height: auto;
    position: relative;
    @include adaptive-value("padding", 40, 20, 1);
    padding-top: 40px;

    &::webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;
}

@keyframes backdropFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes popupScaleIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Popup */

.popup {

    &_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 24px;
    }

    &_close {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 22px;
        right: 22px;
        cursor: pointer;
        transition: color .3s ease;

        &_icon {
            width: 100%;
            height: 100%;
            color: var(--black);
        }

        &:hover {
            color: var(--gold);
            transition: color .3s ease;
        }
    }

    h2 {
        @include adaptive-value("font-size", 24, 20, 1);
        color: var(--blue-grey);
        font-weight: 600;
        line-height: 125%;
    }

    p {
        @include adaptive-value("font-size", 18, 16, 1);
        color: var(--black);

        a {
            text-decoration: underline;
        }
    }

    &_form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &_form_field {
        width: 100%;
    }

    &_buttons {
        display: flex;
        gap: 12px;

        @include media-down(sm) {
            flex-direction: column-reverse;
        }
    }

    &_button {
        width: 50%;

        @include media-down(sm) {
            width: 100%;
        }
    }
}