.profile_edit {
    width: 100%;

    &_form {

        &_items {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            margin-bottom: 30px;
        }

        &_item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;

            &_button {
                font-weight: 500;
                font-size: 16px;
                text-decoration: underline;
            }
        }

        &_buttons {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 12px;

            &_button {
                width: 100%;
                max-width: 195px;
            }
        }
    }
}