@use "@/app/styles/scss-utils/compat-legacy" as *;

.profile_info {
    border-radius: 12px;
    border: 1px solid var(--blue-dark-2);
    @include adaptive-value("padding", 32, 24, 1);
    max-width: 420px;
    width: 100%;

    &_head {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 20px;

        &_image_wrapper {
            position: relative;
        }

        &_image {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &_button {
            position: absolute;
            bottom: 7px;
            right: 0;
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }

        &_name {
            font-size: 24px;
            font-weight: 600;
            color: var(--blue-gray);
        }
    }

    &_body {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &_item {
            display: flex;
            flex-direction: column;
            gap: 4px;

            &_label {
                font-size: 16px;
                color: var(--blue-dark-2);
            }

            &_value {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}