@use "@/app/styles/scss-utils/index" as *;

.match_history {
    padding: 30px 0;

    @include media-up(md) {
        padding: 35px 0;
    }

    &_title {
        margin-bottom: 8px;
    }

    &_table {
        margin-top: 30px;
    }

    &_pagination {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}

