@use "@/app/styles/scss-utils/compat-legacy" as *;

.match_history {
    padding: 30px 0;

    &_title {
        @include adaptive-value("font-size", 32, 24, 1);
        margin-bottom: 20px;
    }

    &_pagination {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
}