.clubs {
    padding: 40px 0;

    &_title {
        margin-bottom: 20px;
    }

    &_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 30px;

        &_search {
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 12px 20px;
            border-radius: 120px;
            border: 1px solid var(--blue-dark);
            max-width: 420px;
            width: 100%;
            transition: border-color .3s ease;

            @include media-down(md) {
                max-width: 100%;
                padding: 8px 15px;
            }

            &:focus-within {
                border-color: var(--blue-grey);
                transition: border-color .3s ease;
            }

            input {
                width: 100%;
                border: none;
                outline: none;
                background: transparent;
                font-size: 16px;
                font-weight: 500;
                color: var(--black);
            }

            &_button {
                width: 24px;
                height: 24px;

                &:hover {

                    .rankings_head_search_button_icon {
                        color: var(--gold);
                        transition: color .3s ease;
                    }
                }

                &_icon {
                    width: 100%;
                    height: 100%;
                    color: var(--black-70);
                    transition: color .3s ease;
                }
            }
        }

        &_dropdown {
            width: 220px;

            @include media-down(sm) {
                width: 100%;
            }
        }
    }

    &_content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        gap: 20px;
        margin-bottom: 30px;

        @include media-down(sm) {
            grid-template-columns: 1fr;
        }
    }

    &_button {
        margin: 0 auto;
    }
}