.clubs {
    padding: 40px 0;

    &_title {
        margin-bottom: 20px;
    }

    &_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 30px;


        &_dropdown {
            width: 220px;

            @include media-down(sm) {
                width: 100%;
            }
        }
    }

    &_content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        gap: 20px;
        margin-bottom: 30px;

        @include media-down(sm) {
            grid-template-columns: 1fr;
        }
    }

    &_button {
        margin: 0 auto;
    }
}