@use "@/app/styles/scss-utils/index" as *;

.header {
    padding: 16px 0;
    position: relative;

    &_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;

        @include media-down(xl) {
            gap: 20px;
        }
    }

    &_inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        width: 100%;

        &.isAuth {
            @include media-down(xl) {
                flex-direction: column-reverse;
            }
        }

        @include media-down(xl) {
            position: absolute;
            top: 100%;
            right: 0;
            max-width: 400px;
            width: 100%;
            height: calc(100dvh - 86px);
            background: var(--white);
            z-index: 1000;
            padding: 20px;

            transform: translateX(100%);

            border-top: 1px solid var(--gold-dark);

            flex-direction: column;
            align-items: flex-start;
            overflow-y: auto;
            transition: transform 0.3s ease;
        }

        &.open {
            transform: translateX(0);
            transition: transform 0.3s ease;
        }
    }

    &_actions {
        display: flex;
        align-items: center;
        gap: 20px;

        @include media-down(xl) {
            width: 100%;
        }
    }

    &_buttons {
        display: flex;
        align-items: center;
        gap: 12px;

        @include media-down(xl) {
            width: 100%;
            flex-direction: column;
            gap: 12px;
        }
    }

    &_button {
        @include adaptive-value("width", 180, 100, 1);

        @include media-down(xl) {
            width: 100%;
        }
    }

    &_language_switcher_desktop {

        @include media-down(xl) {
            display: none !important;
        }
    }

    &_language_switcher_mobile {
        display: none !important;

        @include media-down(xl) {
            display: block !important;
        }
    }

    &_actions_mobile {
        display: none;

        @include media-down(xl) {
            display: flex;
            align-items: center;
            gap: 12px;
        }
    }

    &_profile {
        display: flex;
        align-items: center;
        @include adaptive-value("gap", 24, 12, 1);

        @include media-down(sm) {
            flex-direction: column-reverse;
            align-items: flex-end;
            margin-left: auto;
        }

        &_plan {
            background: linear-gradient(90deg, #00284B 0%, #00284B 1%, #2A5298 100%);
            padding: 4px 12px;
            border-radius: 122px;

            span {
                color: var(--white);
            }
        }


    }
}