.rankings_list {
    position: relative;
    overflow-x: auto;
    max-width: 1332px;
    width: 100vw;
    margin: 0 auto;
    padding: 0 20px;
    -webkit-overflow-scrolling: touch;

    &::-webkit-scrollbar {
        display: none;
    }

    scrollbar-width: none;

    &_table {
        width: 100%;
        border-collapse: collapse;
    }

    &_head {
        text-align: start;
        border-bottom: 1px solid var(--black-10);

        &_item {
            padding: 0 15px 12px 15px;
            font-size: 16px;
            color: var(--black);
            vertical-align: middle;
            white-space: nowrap;
            text-align: start;

            &:nth-child(1) {
                width: 44px;
            }

            &:nth-child(2) {
                min-width: 200px;
            }

            &:nth-child(3) {
                width: 80px;
            }

            &:nth-child(4) {
                width: 130px;
            }

            &:nth-child(5) {
                width: 50px;
            }

            &:nth-child(6) {
                width: 50px;
            }

            &:nth-child(7) {
                width: 50px;
            }

            &:nth-child(8) {
                min-width: 135px;
                width: 100%;
            }

            &:nth-child(9) {
                min-width: 250px;
                width: 100%;
            }

            &_laurels,
            &_trend {
                position: relative;
            }
        }
    }
}