$colors: ("white": #FFFFFF,
  "black": #0E0E0E,
  "black-20": #D2D2D2,
  "black-50": #8C8C8C,
  "black-80": #464646,
  "black-95": #1F1F1F,
  "gold-dark": #D48F1F,
  "gold-light": #FED99D,
  "gold": #F4B44B,
  "gray": #D2D2D2,
  "red": #D90026,
  "blue": #D6E7F6,
  "blue-dark": #AAC7E1,
  "blue-dark-2": #497AA6,
  "blue-grey": #00284B,
);