$colors: ("white": #FFFFFF,
  "black": #0E0E0E,
  "black-5": #F5F5F5,
  "black-10": #E6E6E6,
  "black-20": #D2D2D2,
  "black-50": #8C8C8C,
  "black-60": #737373,
  "black-70": #5A5A5A,
  "black-80": #464646,
  "black-95": #1F1F1F,
  "gold-dark": #D48F1F,
  "gold-light": #FED99D,
  "gold": #F4B44B,
  "gray": #D2D2D2,
  "red": #D90026,
  "green": #05C168,
  "blue": #D6E7F6,
  "blue-light": #ECF5FD,
  "blue-dark": #AAC7E1,
  "blue-dark-2": #497AA6,
  "blue-grey": #00284B,
);