.events {
    padding: 40px 0;

    &_title {
        margin-bottom: 20px;
    }

    &_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 30px 20px;
        margin-bottom: 30px;

        &_filters {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 12px;
        }

        &_dropdown {
            width: 220px;

            @include media-down(sm) {
                width: 100%;
            }
        }

        &_switcher {
            display: flex;
            align-items: center;
            background-color: var(--blue-light);
            border-radius: 100px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 46px;
                height: 46px;
                border-radius: 50%;
                background-color: var(--white);
                border: 1px solid var(--blue-grey);
                z-index: 1;
                transition: all .3s ease;
            }

            &_list {
                &::before {
                    left: 0;
                    transition: all .3s ease;
                }
            }

            &_map {
                &::before {
                    left: 48px;
                    transition: all .3s ease;
                }
            }

            &_button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 48px;
                height: 48px;
                background-color: transparent;
                cursor: pointer;
                position: relative;
                z-index: 2;

                &_active {
                    .events_head_switcher_button_icon {
                        color: var(--black);
                    }
                }

                &_icon {
                    width: 24px;
                    height: 24px;
                    color: var(--blue-grey);
                }
            }
        }
    }

    &_content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        gap: 30px 20px;
        margin-bottom: 30px;

        @include media-down(sm) {
            grid-template-columns: 1fr;
        }
    }

    &_button {
        margin: 0 auto;
    }
}