
.nav_menu {
    display: flex;
    align-items: center;
    gap: 40px;

    @include media-down(xl) {
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        gap: 20px;
        flex-grow: 1;
    }
}

.nav_menu_link {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--black);
    transition: color 0.3s ease;

    @include media-down(xl) {
        font-size: 18px;
    }

    &:hover {
        color: var(--gold);
    }
}